.app {
  background-image: url("assets/images/textures/photo-1533135091724-62cc5402aa20.jpeg");
  background-color: var(--clr-primary-100);
  background-blend-mode: hard-light;
  background-repeat: repeat;
}

.primaryHeader {
  position: relative;
  max-width: var(--max-width-xl);
}

.primaryNavigation {
  background-color: rgba(0, 0, 0, 0.881);
  max-width: var(--max-width-xl);
  right: 0;
  left: 0;
  top: 0;
  position: absolute;
  padding: 1rem;
  z-index: 500;
  box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem var(--clr-neutral-blend-100-5);
  display: flex;
  justify-content: space-between;
}

.primaryNavLogo {
  max-width: 10rem;
  align-self: center;
}

.navList {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: var(--clr-primary-400);
  transition: border-bottom ease-in 0.2s;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid transparent;
}

.navLink:hover,
.navLink:focus {
  border-bottom: 0.2rem solid var(--clr-primary-400);
}

.mainSection {
  max-width: var(--max-width-xl);
  background-color: var(--clr-primary-blend-200-5);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: var(--clr-neutral-100);
  padding: 0 2rem;
}

.footerLogo {
  background-image: url("/src/assets/images/wheelhouse-logo-design/wheelhouse-logo-emblem-with-wording.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2rem;
  padding: 2rem;
}

.footerSocialList {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

.footerSocialList .footerSocialLink a {
  font-size: 2rem;
  color: var(--clr-neutral-400);
}

.footerNavigation {
  display: flex;
  padding: 4rem 1rem;
  align-items: center;
  justify-content: center;
}

.socialLinkIcon {
  width: 2rem;
  color: var(--clr-primary-400);
  transition: border-bottom ease-in 0.2s;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid transparent;

}

.socialLinkIcon:hover,
.socialLinkIcon:focus {
  border-bottom: 0.2rem solid var(--clr-primary-400);
}

.footerGetInTouchDetails {
  font-size: clamp(1em, 1.3vw, 1.8em);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerGetInTouchDetails a {
  display: flex;
  align-items: center;
  color: var(--clr-primary-400);
}

.footerGetInTouchDetails a span {
  margin-right: 1rem;
}

.footerPhoneNumber > a ,
.footerEmail > a {

  text-decoration: none;
  color: var(--clr-primary-400);
  transition: border-bottom ease-in 0.2s;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid transparent;
  align-self: center;
}

.footerPhoneNumber > a:hover ,
.footerEmail > a:hover {
  border-bottom: 0.2rem solid var(--clr-primary-400);
}

.footerPhoneIcon ,
.footerEmailIcon {
  margin-right: 1rem;
  color: var(--clr-primary-400);
}

.footerEmail {
  display: flex;
  align-items: center;
}

@media (max-width: 550px){
  .footerNavigation{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}