.app {
  background-image: url("assets/images/textures/photo-1533135091724-62cc5402aa20.jpeg");
  background-color: var(--clr-primary-100);
  background-blend-mode: hard-light;
  background-repeat: repeat;
  position: relative;
}

.primaryHeader {
  max-width: var(--max-width-xl);
}

.primaryNavigation {
  background-color: rgba(0, 0, 0, 0.881);
  max-width: var(--max-width-xl);
  right: 0;
  left: 0;
  top:0;
  margin: 0 auto;
  position: fixed;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
  box-shadow: .1rem .1rem .7rem .2rem var(--clr-neutral-blend-100-5);
}

.primaryNavLogo {
  max-width: 10rem;
  margin-top: 1rem;
}

.navList {
  display: flex;
  gap: 1rem;
}

.navLink {
  text-decoration: none;
  color: var(--clr-primary-400);
  transition: border-bottom ease-in 0.1s;
  padding-bottom: 0.1rem;
}

.navLink:hover,
.navLink:focus {
  border-bottom: 0.2rem solid var(--clr-primary-400);
}

.mainSection {
  max-width: var(--max-width-xl);
  background-color: var(--clr-primary-blend-200-5);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: var(--clr-neutral-100);
  padding: 0 2rem;
}

.footerLogo {
  background-image: url("/src/assets/images/wheelhouse-logo-design/wheelhouse-logo-emblem-with-wording.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2rem;
  padding: 2rem;
}

.footerSocialList {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 3rem;
}

.footerSocialList .footerSocialLink a {
  text-decoration: none;
  color: var(--clr-neutral-400);
}



.footerNavigation{
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
}

.socialLinkIcon{
  width: 2rem;
  color: var(--clr-primary-400);
  transition: border-bottom ease-in 0.1s;
}

.socialLinkIcon:hover{
  border-bottom: 0.2rem solid var(--clr-primary-400);
}


